<p>
   <strong><%=comment.body%></strong></br>
   <i>author:
   <%=comment.author%></i></br>
   <%=link_to 'Delete Comment', [comment.article, comment],
 	 method: :delete,
 	 data: { confirm: 'Are You sure?'} %>

</p>

