 <ul> 
 <li>
 <div class = "container">
  <div class = "row">  
   <strong><%=comment.body%></strong></br>
   <i>author:
   <%=comment.author%></i></br>
   <i><%=link_to 'delete comment', [comment.article, comment],
 	 method: :delete,
 	 data: { confirm: 'Are You sure?'} %></i></br>
 </div>
</div>
</li>
</ul>
 



